:root {
    --r-main-font: Ubuntu, sans-serif;
    --r-heading-font: Ubuntu, sans-serif;
}

code {
    text-align: left;
    border-radius: 4px;
    background-color: #3f3f3f;
}

.reveal .slide-number {
    left: 8px;
    font-size: 18px;
    right: unset;
}

/*
Zenburn style from voldmar.ru (c) Vladimir Epifanov <voldmar@voldmar.ru>
based on dark.css by Ivan Sagalaev
*/

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #3f3f3f;
    color: #dcdcdc;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-tag {
    color: #f7b648;
}

.hljs-template-tag {
    color: #dcdcdc;
}

.hljs-number {
    color: #6bc9ce;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute {
    color: #f7b648;
}

.hljs-literal {
    color: #f8f8a3;
}

.hljs-subst {
    color: #8f8f8f;
}

.hljs-title,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-section,
.hljs-type {
    color: #efef8f;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
    color: #05fdfd;
}

.hljs-deletion,
.hljs-string,
.hljs-built_in,
.hljs-builtin-name {
    color: #d458a1;
}

.hljs-addition,
.hljs-comment,
.hljs-quote,
.hljs-meta {
    color: #a4f844;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}
