:root {
  --r-main-font: Ubuntu, sans-serif;
  --r-heading-font: Ubuntu, sans-serif;
  --r-main-font-size: 2rem;
}

pre[class*='language-'] {
  padding: 0.4em 0.4em 0.4em unset !important;
  font-size: 0.4em !important;
  /* margin: 0 auto !important; */
}

.reveal pre code {
  /* Reset some reveal settings, since we use prismjs instead of highlightjs. */
  overflow: initial;
  padding: 0;
  font-size: 1.25em;
}

.reveal .slide-number {
  left: 8px;
  font-size: 18px;
  right: unset;
}
